
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
#custom-bootstrap-menu.navbar-default .navbar-brand {
	color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
	font-size: 14px;
	background-color: rgba(248, 248, 248, 1);
	border-width: 1px;
	border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
	color: rgba(119, 119, 119, 1);
	background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
	color: rgba(51, 51, 51, 1);
	background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
	color: rgba(85, 85, 85, 1);
	background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
	border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
	background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
	background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #888;
}

.modal
{
	font-family: 'Lato', 'sans-serif';
	}
.profile 
{
	min-height: 355px;
	display: inline-block;
	}
figcaption.ratings
{
	margin-top:20px;
	}
figcaption.ratings a
{
	color:#f1c40f;
	font-size:11px;
	}
figcaption.ratings a:hover
{
	color:#f39c12;
	text-decoration:none;
	}
.divider 
{
	border-top:1px solid rgba(0,0,0,0.1);
	}
.emphasis 
{
	border-top: 4px solid transparent;
	}
.emphasis:hover 
{
	border-top: 4px solid #1abc9c;
	}
.emphasis h2
{
	margin-bottom:0;
	}
span.tags 
{
	background: #1abc9c;
	border-radius: 2px;
	color: #f5f5f5;
	font-weight: bold;
	padding: 2px 4px;
	}
span.tags1 
{
	background: #cc6633;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	padding: 2px 4px;
	}
span.tags2 
{
	background: #C0C0C0;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	padding: 2px 4px;
	}
span.tags3 
{
	background: #DAA520;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	padding: 2px 4px;
	}
span.tags4
{
	background: #A0BFB4;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	padding: 2px 4px;
	}
span.tags5
{
	background: black;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	padding: 2px 4px;
}	
.dropdown-menu 
{
	background-color: #34495e;    
	box-shadow: none;
	-webkit-box-shadow: none;
	width: 250px;
	margin-left: -125px;
	left: 50%;
	}
.dropdown-menu .divider 
{
	background:none;    
	}
.dropdown-menu>li>a
{
	color:#f5f5f5;
	}
.dropup .dropdown-menu 
{
	margin-bottom:10px;
	}
.dropup .dropdown-menu:before 
{
	content: "";
	border-top: 10px solid #34495e;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	z-index: 10;
	}

@media (min-width: 800px) {		
	.chartCustom{
		margin:auto;
		width:75%;
	}
}
@media (max-width: 800px) and (orientation:landscape){		
	.chartCustom{
		margin:auto;
		width:100%;
	}
}

@media (orientation:portrait){		
	.chartCustom{
		display:none;
	}
}

body{
	width:100%;
}
.row{
	max-height: 200px;
}