.container{
	background-color:#e7e7e7;
	height:720px;
	font-family: PokemonSolid;
	color: rgb(253, 211, 20);
	text-shadow: -3px 0 rgb(49, 109, 190), 0 3px  rgb(49, 109, 190), 3px 0  rgb(49, 109, 190), 0 -3px  rgb(49, 109, 190);
}

.monitor{
	height:324px;
}
.r-monitor{
	background:red;
	border:solid 3px black;
}
.b-monitor{
	background:blue;
}
.y-monitor{
	background:yellow;
}

@font-face {
    font-family: PokemonGb; 
    src: url(../font/PokemonGb-RAeo.ttf); /*URL to font*/
}
@font-face {
    font-family: PokemonSolid; 
    src: url('../font/Pokemon Solid.ttf'); /*URL to font*/
}

.event-list-container{
	margin-top: 10px;
}
.stream-title{
	margin-left:15px;
	font-size:36px;
	margin-bottom: 15px;
}