.container{
	/*background-color:#e7e7e7;*/
	background-color:white;
	height:720px;
	font-family: PokemonSolid;
	color: rgb(253, 211, 20);
	text-shadow: -3px 0 rgb(49, 109, 190), 0 3px  rgb(49, 109, 190), 3px 0  rgb(49, 109, 190), 0 -3px  rgb(49, 109, 190);
}

.monitor{
	height:324px;
}
.r-monitor{
	background:red;
	border:solid 3px black;
}
.b-monitor{
	background:blue;
}
.y-monitor{
	background:yellow;
}

.bonus{
	font-family: Helvetica;
	font-size: 23px;
	color: green;
	text-shadow: -1px 0 rgb(49, 109, 190), 0 1px rgb(49, 109, 190), 1px 0 rgb(49, 109, 190), 0 -1px rgb(49, 109, 190);
	line-height: 50px;
}

.malus{
	font-family: Helvetica;
	color: red;
	font-size: 23px;
	text-shadow: -1px 0 rgb(49, 109, 190), 0 1px rgb(49, 109, 190), 1px 0 rgb(49, 109, 190), 0 -1px rgb(49, 109, 190);
	line-height: 50px;
}

@font-face {
    font-family: PokemonGb; 
    src: url(../font/PokemonGb-RAeo.ttf); /*URL to font*/
}
@font-face {
    font-family: PokemonSolid; 
    src: url('../font/Pokemon Solid.ttf'); /*URL to font*/
}

#y-malus,#r-malus,#b-malus,#y-bonus,#r-bonus,#b-bonus{
	height:30px;
}

.event-list-container{
	margin-top: 10px;
	padding: 10px;
}
.stream-title{
	margin-left: 15px;
    font-size: 36px;
    margin-bottom: 25px;
    text-align: center;
    margin-right: 15px;
}

#progress-raid-text{
    font-family: Helvetica;
    font-size: 23px;
    margin-top: -50px;
    text-shadow: -1px 0 rgb(49, 109, 190), 0 1px rgb(49, 109, 190), 1px 0 rgb(49, 109, 190), 0 -1px rgb(49, 109, 190);
    margin-bottom: 10px;
	position:relative;
	top:60px;
}

#myProgress {
  width: 100%;
  background-color: grey;
  border-radius: 15px;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: green;
  border-radius: 15px;
}

.bar-container{
	position: relative;
    top: -12px;
}